<div class="container">
  <a class="linkBack" routerLink="/">
    <i class="fas fa-arrow-left"></i>
  </a>
  <div class="container-howTo">
    <h1>How to use</h1>
    <ul>
      <li>
        <i>"Search for repositories"</i> - type keywords, what repositories are you looking for (minimum 3 letters)
      </li>
      <li>
        <i>"Get user information"</i> - if you know the full nickname of the user, use this option and type full user nickname to the input (minimum 3 letters)
      </li>
    </ul>
  </div>
</div>
