<div class="container">
  <a class="linkBack" routerLink="/">
    <i class="fas fa-arrow-left"></i>
  </a>
  <div class="container-howTo">
    <h1>How to use</h1>
    <ul>
      <li><i>"User search"</i> - type name that you are looking for to input. This option will show you the list of users (by your chosen sort option)</li>
      <li><i>"Get user information"</i> - if you know the full nickname of the user, use this option and type full user nickname to the input</li>
    </ul>
  </div>
</div>
